.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
publish.bat

**/wip
**/secret
**/templates
**/template
**/Obsidian
**/Templaty pro tvorbu
Kampaně/

*_wip.md
*_np.md
*_secret.md
